# Виртуальное окружение
venv/
.venv/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Файлы с секретами
.env
.env.local

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
*.bak


